<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.nutritionalassistant">
    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.READ_PROFILE"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity
                android:name=".references.FoodStorage"
                android:label="@string/title_activity_food_storage"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".references.FoodPreparation"
                android:label="@string/title_activity_food_preparation"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".references.Utensils"
                android:label="@string/title_activity_utensils"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".references.NutritionalFacts"
                android:label="@string/title_activity_nutritional_facts"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".NutritionalFactsActivity"
                android:label="@string/title_activity_nutritional_facts"
                android:parentActivityName=".EducationalReferencesActivity"
                android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.example.nutritionalassistant.EducationalReferencesActivity"/>
        </activity>
        <activity android:name=".ShowRecipesActivity">
        </activity>
        <activity android:name=".EducationalReferencesActivity">
        </activity>
        <activity android:name=".MealPlannerActivity">
        </activity>
        <activity android:name=".ShoppingListActivity">
        </activity>
        <activity android:name=".FindRecipesActivity">
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>